.grid-1 {
  width: 67px; }

.grid-2 {
  width: 154px; }

.grid-3 {
  width: 241px; }

.grid-4 {
  width: 328px; }

.grid-5 {
  width: 415px; }

.grid-6 {
  width: 502px; }

.grid-7 {
  width: 589px; }

.grid-8 {
  width: 676px; }

.grid-9 {
  width: 763px; }

.grid-10 {
  width: 850px; }

.grid-11 {
  width: 937px; }

.grid-12 {
  width: 1024px; }

.grid-1 .align-left {
  float: left;
  width: 23.5px; }

.grid-1 .align-right {
  float: right;
  width: 23.5px; }

.grid-1.offset .align-left {
  width: -63.5px;
  margin-right: 0 !important; }

.grid-1.offset .align-right {
  width: -63.5px;
  margin-left: 0 !important; }

.grid-1.offset .align-left.no-offset {
  width: 23.5px; }

.grid-1.offset .align-right.no-offset {
  width: 23.5px; }

.grid-2 .align-left {
  float: left;
  width: 67px; }

.grid-2 .align-right {
  float: right;
  width: 67px; }

.grid-2.offset .align-left {
  width: -20px;
  margin-right: 0 !important; }

.grid-2.offset .align-right {
  width: -20px;
  margin-left: 0 !important; }

.grid-2.offset .align-left.no-offset {
  width: 67px; }

.grid-2.offset .align-right.no-offset {
  width: 67px; }

.grid-3 .align-left {
  float: left;
  width: 110.5px; }

.grid-3 .align-right {
  float: right;
  width: 110.5px; }

.grid-3.offset .align-left {
  width: 23.5px;
  margin-right: 0 !important; }

.grid-3.offset .align-right {
  width: 23.5px;
  margin-left: 0 !important; }

.grid-3.offset .align-left.no-offset {
  width: 110.5px; }

.grid-3.offset .align-right.no-offset {
  width: 110.5px; }

.grid-4 .align-left {
  float: left;
  width: 154px; }

.grid-4 .align-right {
  float: right;
  width: 154px; }

.grid-4.offset .align-left {
  width: 67px;
  margin-right: 0 !important; }

.grid-4.offset .align-right {
  width: 67px;
  margin-left: 0 !important; }

.grid-4.offset .align-left.no-offset {
  width: 154px; }

.grid-4.offset .align-right.no-offset {
  width: 154px; }

.grid-5 .align-left {
  float: left;
  width: 197.5px; }

.grid-5 .align-right {
  float: right;
  width: 197.5px; }

.grid-5.offset .align-left {
  width: 110.5px;
  margin-right: 0 !important; }

.grid-5.offset .align-right {
  width: 110.5px;
  margin-left: 0 !important; }

.grid-5.offset .align-left.no-offset {
  width: 197.5px; }

.grid-5.offset .align-right.no-offset {
  width: 197.5px; }

.grid-6 .align-left {
  float: left;
  width: 241px; }

.grid-6 .align-right {
  float: right;
  width: 241px; }

.grid-6.offset .align-left {
  width: 154px;
  margin-right: 0 !important; }

.grid-6.offset .align-right {
  width: 154px;
  margin-left: 0 !important; }

.grid-6.offset .align-left.no-offset {
  width: 241px; }

.grid-6.offset .align-right.no-offset {
  width: 241px; }

.grid-7 .align-left {
  float: left;
  width: 284.5px; }

.grid-7 .align-right {
  float: right;
  width: 284.5px; }

.grid-7.offset .align-left {
  width: 197.5px;
  margin-right: 0 !important; }

.grid-7.offset .align-right {
  width: 197.5px;
  margin-left: 0 !important; }

.grid-7.offset .align-left.no-offset {
  width: 284.5px; }

.grid-7.offset .align-right.no-offset {
  width: 284.5px; }

.grid-8 .align-left {
  float: left;
  width: 328px; }

.grid-8 .align-right {
  float: right;
  width: 328px; }

.grid-8.offset .align-left {
  width: 241px;
  margin-right: 0 !important; }

.grid-8.offset .align-right {
  width: 241px;
  margin-left: 0 !important; }

.grid-8.offset .align-left.no-offset {
  width: 328px; }

.grid-8.offset .align-right.no-offset {
  width: 328px; }

.grid-9 .align-left {
  float: left;
  width: 371.5px; }

.grid-9 .align-right {
  float: right;
  width: 371.5px; }

.grid-9.offset .align-left {
  width: 284.5px;
  margin-right: 0 !important; }

.grid-9.offset .align-right {
  width: 284.5px;
  margin-left: 0 !important; }

.grid-9.offset .align-left.no-offset {
  width: 371.5px; }

.grid-9.offset .align-right.no-offset {
  width: 371.5px; }

.grid-10 .align-left {
  float: left;
  width: 415px; }

.grid-10 .align-right {
  float: right;
  width: 415px; }

.grid-10.offset .align-left {
  width: 328px;
  margin-right: 0 !important; }

.grid-10.offset .align-right {
  width: 328px;
  margin-left: 0 !important; }

.grid-10.offset .align-left.no-offset {
  width: 415px; }

.grid-10.offset .align-right.no-offset {
  width: 415px; }

.grid-11 .align-left {
  float: left;
  width: 458.5px; }

.grid-11 .align-right {
  float: right;
  width: 458.5px; }

.grid-11.offset .align-left {
  width: 371.5px;
  margin-right: 0 !important; }

.grid-11.offset .align-right {
  width: 371.5px;
  margin-left: 0 !important; }

.grid-11.offset .align-left.no-offset {
  width: 458.5px; }

.grid-11.offset .align-right.no-offset {
  width: 458.5px; }

.grid-12 .align-left {
  float: left;
  width: 502px; }

.grid-12 .align-right {
  float: right;
  width: 502px; }

.grid-12.offset .align-left {
  width: 415px;
  margin-right: 0 !important; }

.grid-12.offset .align-right {
  width: 415px;
  margin-left: 0 !important; }

.grid-12.offset .align-left.no-offset {
  width: 502px; }

.grid-12.offset .align-right.no-offset {
  width: 502px; }

.grid-12.offset .component {
  margin-left: 87px;
  margin-right: 87px; }

.offset .component {
  margin-left: 87px; }

.component {
  background: rgba(0, 0, 0, 0.4); }

.component.no-offset {
  margin-left: 0 !important; }

.grid-12 .component.no-offset {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.page {
  border: 1px dotted red;
  width: 1024px;
  margin: 0 auto; }

.row {
  border-bottom: 1px dashed blue;
  width: auto; }

.column {
  margin: 0 0 0 20px;
  float: left; }

.column:first-child {
  margin-left: 0; }

.component {
  margin-bottom: 20px; }

.cf:before, .page:before, .row:before,
.cf:after,
.page:after,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .page:after, .row:after {
  clear: both; }

.cf, .page, .row {
  *zoom: 1; }

*, *:before, *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
