// Configuration
$column-width: 67px;
$gutter-width: 20px;
$columns: 12;

@mixin grid($i) {
  width: $column-width * $i + $gutter-width * ($i - 1);
}

@mixin grid-plus($i, $plus) {
  width: $column-width * $i + $gutter-width * ($i - 1) + $plus;
}

@mixin skip($i) {
  margin-left: $column-width * $i + $gutter-width * $i;
}

@mixin skip-after($i) {
  margin-right: $column-width * $i + $gutter-width * $i;
}

@for $i from 1 through $columns {
  .grid-#{$i} { @include grid($i); }
}

@for $i from 1 through $columns {
  .grid-#{$i} .align-left {
    float: left;
    width: (($column-width * $i) / 2) + (($gutter-width * $i) / 2) - $gutter-width;
  }
  .grid-#{$i} .align-right { 
    float: right;
    width: (($column-width * $i) / 2) + (($gutter-width * $i) / 2) - $gutter-width;
  }
  .grid-#{$i}.offset .align-left {
    width: (($column-width * $i) / 2) + (($gutter-width * $i) / 2) - $gutter-width - ($column-width + $gutter-width);
    margin-right: 0 !important;
  }
  .grid-#{$i}.offset .align-right {
    width: (($column-width * $i) / 2) + (($gutter-width * $i) / 2) - $gutter-width - ($column-width + $gutter-width);
    margin-left: 0 !important;
  }
  .grid-#{$i}.offset .align-left.no-offset {
    width: (($column-width * $i) / 2) + (($gutter-width * $i) / 2) - $gutter-width;
  }
  .grid-#{$i}.offset .align-right.no-offset {
    width: (($column-width * $i) / 2) + (($gutter-width * $i) / 2) - $gutter-width;
  }
}

@mixin grid-page($i: $columns) {
  @extend .cf;
  width: $column-width * $i + $gutter-width * $i - $gutter-width;
  margin: 0 auto;
}

@mixin grid-row($page: false) {
  @extend .cf;
  width: auto;
}

@mixin grid-column($i: false) {
  margin: 0 0 0 $gutter-width;
  float: left;
 
  @if $i {
    @include grid($i);
  }
}

@mixin grid-column-empty($i: 1, $position: after) {
  $margin: $column-width * $i + $gutter-width * $i + ($gutter-width / 2);
 
  @if $position == after {
    margin-right: $margin;
  } @else {
    margin-left: $margin;
  }
}

.grid-12.offset .component {
  margin-left: $column-width + $gutter-width;
  margin-right: $column-width + $gutter-width;
}

.offset .component {
  @include skip(1);
}

.component {
  background: rgba(0,0,0,0.4);
}

.component.no-offset {
  margin-left: 0 !important;
}

.grid-12 .component.no-offset {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.page {
  border: 1px dotted red;
  @include grid-page;
}

.row {
  border-bottom: 1px dashed blue;
  @include grid-row;
}

.column {
  @include grid-column;
}

.column:first-child {
  margin-left: 0;
}

.component {
  margin-bottom: $gutter-width;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

*, *:before, *:after {
  -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;
}
