body {
  background: url(../images/springboard-grid.jpg) center repeat-y ;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
  padding: 0;
}

.grey {
  background: rgba(0,0,0,0.4);
}

.yellow {
  background: rgba(255,247,134,0.4);
}
